<html>
    <head>
        <title>
        </title>
        <link rel="stylesheet" href="login.css">
    </head>

<body>
    


<section class="section">
    <div class="main">
        <div class="intro-section">
            <h6 class="intro-heading">Welcome</h6>
            <p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dignissimos officia sint animi voluptatum est praesentium nostrum, iusto earum fugit.</p>
            <img src="https://res.cloudinary.com/hetfy/image/upload/v1603459311/laptop_hkaxzz.png" alt="Laptop">
        </div>
            
        <div class="sign-section">
            <div class="sign-block">
                <h3 class="sign-heading">Sign up here</h3>
                <div class="input-block">
                    <input class="input" placeholder="| &nbsp;Name" type="text">
                    <input class="input" placeholder="| &nbsp;Phone" type="text">
                    <input class="input" placeholder="| &nbsp;Email" type="text">
                    <input class="input" placeholder="| &nbsp;Password" type="text">
                </div>

                <div class="password-block">
                    <div>
                        <input type="checkbox" name="remember">
                        <label for="remember">Remember me</label>
                    </div>

                    <a class="password-link" href="#">Forgot password..?</a>
                </div>

                <button class="sign-button">Sign Up</button>
            </div>
        </div>
    </div>
</section>

</body>
</html>