<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="product_screen.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
        <title>

        </title>
    </head>
    <body>
        <!-- NAV BAR -->
        <nav>
            <ul>
                <h2>ShopItBuddy</h2>
          
            </ul>
            <ul>
                <input type="text" placeholder="Search for product">
                <button class="btn btn-info btstyle">LOGIN</button>
                <button class="btn btn-info btstyle">SIGNUP</button>
                <button class="btn btn-info btstyle">CART</button>
            </ul>
        </nav>
        <!--IMAGE AND MAIN PRODUCT DESCRIPTION-->
        <div  id="main" class="container">
           
                <img src="https://assets.telegraphindia.com/telegraph/625ea097-97bf-4e11-ae4b-a549931b6029.jpg" alt="">
            <div id="description" class="ml-0 mt-5">
                <h2 id="product_name" class="ml-0">Amul Full Cream Milk </h2><!--Product name-->
                <p  class="ml-0 mb-0 mt-1">by Amul</p>
                 <div id="icons" class="mt-0 mb-0">
                <i class="fa fa-star " ></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                
                <p class="d-inline ml-0 text-primary">23,000+ rating </p>
                </div>
                <hr class="mt-0">
                <p id="price" class="ml-0">M.R.P: Rs:28.00</p><!--Price-->
                <div id="service">
                <div> <!--icons-->
                <i class="fa fa-truck fa-2x  "></i>
                <i class="fas fa-pump-soap fa-2x"></i>
                <i class="fa fa-retweet fa-2x  "></i>
               </div>
                <div><!--description-->
                <p>Fast delievery</p>
                <p>Santized product</p>
                <p>10 day replacement</p>
               </div>
                </div>
                <hr class="mt-0">
                <div id="order-details" class="font-rale d-flex flex-column text-dark">
                    <small>Delivery by : May 30  - Jun 2</small>
                    <small>Sold by <a href="#">Shoping Mart Electronics </a>(4.5 out of 5 | 18,198 ratings)</small>
                    <small><i class="fas fa-map-marker-alt color-primary"></i>&nbsp;&nbsp;Deliver to Customer - 110078</small>
                </div>
                <hr>
                <label for="QUANTITY">QUANTITY: </label>
                <input type="number" min="1"  placeholder="1" class="mb-3" name="QUANTITY">
                <button class="btn btn-warning my-2">ADD TO CART</button><!--ADD TO CART-->
                <button class="btn btn-danger my-2">BUY NOW</button><!--BUY NOW-->

            </div>

        </div>
        <div id="product_info">
            <h2>Amul Full Cream Milk</h2>
            <hr>
            <h3><u>About</u></h3>
            <p>Goodlife Smart Homogenised Double Toned Milk UHT processed milk with Min 1.5% fat and Min 9.0% SNF fortified with vitamins A and D. Suitable for preparing tea/coffee, milk shakes and milk delights for people leading a fitness conscious lifestyle. Not a day passes by when we do not need milk on a regular basis. If there are children in the house, milk is a must. Your morning tea or coffee is incomplete without it; breakfast cornflakes calls for it too. Besides its regular use, milk can be used for so many other things. Whip up a batch of cookies or bake some delicious cakes with milk. Scrambled eggs are so much fluffier and tastier, thanks to a dash of milk. Not to forget homemade milkshakes. There is so much you can do with just a cup of milk!</p>
            <hr>
            <h3>Other Product info:</h3>
            <p>
                EAN Code: 242671 
                Country Of Origin: India 
                Manufacturer Name & Address : Karnataka Co-Operative Milk Producer's Federation Limited 
                Best before __PSL__days from the date of delivery 
                For Queries/Feedback/Complaints, Contact our Customer Care Executive at: Phone: 1860 123 1000 | Address: Innovative Retail Concepts Private Limited, Ranka Junction 4th Floor, Tin Factory bus stop. KR Puram, Bangalore - 560016 Email:customerservice@supermarket.com</p>
       </div>
       <hr>

       <footer class=" bg-dark">
           <div class="row ">
               <h2 class="col-md-4 ml-5 text-light my-3">ShopItBuddy</h2>
                  <div class="col-md-3 mx-3 my-3">
                   <h3 class="text-light" >Information</h3>
                   
                   <a href="#" class="d-block">About us</a>
                   <a href="#" class="d-block">Branches</a>
                   <a href="#" class="d-block">Terms and conditions</a>
                   <a href="#" class="d-block">Privacy Policy</a>
                
            </div>
            <div class="col-md-3 mx-3 my-3">
                <h3 class="text-light" >Account</h3>
                
                <a href="#" class="d-block">My Account</a>
                <a href="#" class="d-block">History</a>
                <a href="#" class="d-block">My wishlist</a>
                <a href="#" class="d-block">Help</a>
             
         </div>
            
        </div>
       </footer>
    </body>
</html>